.topbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 2% 8%;
}
.topbar-header{
    font-weight: bold;
    align-items: center;
    text-align: center;
}
.topbar-header h3{
    color: #ff8800;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.menu-list-menupage{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.menu-item-menupage{
    background-color: #f7eee4;
    width: max-content;
    padding: 1.5% 3%;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #000000;
    text-align: center;
    cursor: pointer;
    
}
.menu-item-menupage a{
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.menu-item-menupage:hover{
    background-color: #ff8800;
    color: white;
    transition: 0.3s;
    
}
.menu-item-menupage a:hover{
    color: white;
    transition: 0.3s;
    cursor: pointer;
}