.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 5%;
}

.menu-header{
    text-align: center;
}
.menu-header h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000000;
}
.menu-header h3{
    margin: 0;
    color: #ff8800;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    margin: 1% 8% 2% 8%;
    gap: 2rem;

}
.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f7eee4;
    border-radius: 20px;
    width: 250px;
    padding: 20px;
}
.menu-item:hover{
    background-color: #ff8800;
    color: white;
    transition: 0.3s;
}
.menu-item:hover img{
    transform: scale(1.05);
    transition: 0.3s;
}
.menu-item img{
    width: 200px;
    height: 200px;
    align-items: center;

}
.menu-item span{
    color: #ff8800;
    font-size: 1.5rem;
}
.menu-container button{
    width: 200px;
    height: 50px;
}