.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f3ee;
}

.login-form {
  background: #f9f7f5;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.331);
  width: 90%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #d35400;
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #e67e22;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #cf711f;
}

.register-link{
  text-align: center;
  margin-top: 15px;
    font-size: 14px;
    color: #cf711f;
}
.register-link a {
  color: #e67e22;
  font-weight: bold;
  text-decoration: none;
}