.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff7f0;
}

.register-form {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.409);
  width: 90%;
  max-width: 400px;
}

.register-form h2 {
  margin-bottom: 20px;
  color: #d35400;
  text-align: center;
}

.register-form input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 16px;
}

.register-form button {
  width: 100%;
  padding: 12px;
  background-color: #e67e22;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #cf711f;
}
